*{
    margin: 0px;
    padding-left: 0px;
    box-sizing: border-box;
}

    body{
        display: flex;
        background-color:chocolate;
    }
    .img{
        width: 50vw;
        height: 100vw;
        background-image: url("./pics/p10.jpg");
        background-position: center;
    }
.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}