*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:lightgreen;
    display: flex;
}
img{
    width: 50vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
section{
    height: 100vh;
    display: flex;
    justify-content: space-between;
}
.hass{
    width: 50vw;
    height: 100vh;
    font-size: 20px;
    margin: 50px;
    padding: 10px;
}
input{
    justify-items: baseline;
    width: 80%;
    height: 40px;
    padding: 0 5px;
    margin: 15px;
}
.ass{
    text-align: center;
    padding: 0 0 20px 0;
    font-size: 40px;
} 
p,input{
    
    font-size: 30px;
}
button{
    font-size: 20px;
}
